<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>IMPACT+</title>
  <script src="https://unpkg.com/vue@next"></script>
  <link href="https://unpkg.com/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="text-white bg-black p-16">
  <div id="app">
    <image-container v-if="imageSelected">
      <image-nav-component direction="previous" @nav-image="navImage"></image-nav-component>

      <div>
        <img id="full-image" :src="selectedImage" class="rounded-lg cursor-pointer select-none"
          @click="toggleFullImage" />
      </div>

      <image-nav-component direction="next" @nav-image="navImage"></image-nav-component>
    </image-container>

    <div id="main-container" v-if="!imageSelected">
      <logo-component>
        <language-selection></language-selection>
      </logo-component>

      <image-wrapper>
        <image-component v-for="image in images" :src="image" @click="toggleFullImage"></image-component>
      </image-wrapper>

      <specs-wrapper>
        <row-component v-for="spec in specs" :label="spec.label" :description="spec.description">
          {{ spec.value }}
        </row-component>
      </specs-wrapper>
    </div>
  </div>

  <script>
    const getLocale = () => {
      const match = location.search.match(/(?<==)[a-zA-Z]{2}/)

      return (match && match[0] || navigator.language || navigator.userLanguage).split('-')[0]
    }

    const config = {
      localeGids: {
        pl: 288038175,
        en: 35753055
      },
      imagesGid: 1866743414,
      locale: getLocale(),
      spreadsheetId: '2PACX-1vRq2HxY-FYmQrcjCsB015FGey51cT3fMV28ED2qjnTzPAjerJitb3YqzzZsIVxzj1G26B1KvfEt5r6D',
      spreadsheetUrl: (gid) => `https://docs.google.com/spreadsheets/d/e/${config.spreadsheetId}/pub?output=tsv&gid=${gid}`
    }

    const flags = {
      pl: `
        <svg xmlns="http://www.w3.org/2000/svg" id="flag-icons-pl" viewBox="0 0 640 480">
          <g fill-rule="evenodd">
            <path fill="#fff" d="M640 480H0V0h640z"/>
            <path fill="#dc143c" d="M640 480H0V240h640z"/>
          </g>
        </svg>
      `,
      en: `
        <svg xmlns="http://www.w3.org/2000/svg" id="flag-icons-gb" viewBox="0 0 640 480">
          <path fill="#012169" d="M0 0h640v480H0z"/>
          <path fill="#FFF" d="m75 0 244 181L562 0h78v62L400 241l240 178v61h-80L320 301 81 480H0v-60l239-178L0 64V0h75z"/>
          <path fill="#C8102E" d="m424 281 216 159v40L369 281h55zm-184 20 6 35L54 480H0l240-179zM640 0v3L391 191l2-44L590 0h50zM0 0l239 176h-60L0 42V0z"/>
          <path fill="#FFF" d="M241 0v480h160V0H241zM0 160v160h640V160H0z"/>
          <path fill="#C8102E" d="M0 193v96h640v-96H0zM273 0v480h96V0h-96z"/>
        </svg>
      `
    }

    const { createApp, ref, provide, defineComponent } = Vue

    const PlFlag = defineComponent({
      template: flags.pl
    })

    const EnFlag = defineComponent({
      template: flags.en
    })

    const ImageWrapper = defineComponent({
      template: `<div class="grid grid-cols-10 gap-4 mb-12"><slot></slot></div>`
    })

    const ImageComponent = defineComponent({
      props: ['src', 'id'],
      template: `<div><img :src="src" :id="id" class="rounded-lg cursor-pointer" /></div>`
    })

    const ImageContainer = defineComponent({
      template: `
        <div id="image-container" class="flex fixed inset-0 items-center justify-center">
          <slot></slot>
        </div>
      `
    })

    const ImageNavComponent = defineComponent({
      props: ['direction'],
      template: `
          <div class="w-auto cursor-pointer m-8">
            <div :class="directionClass" @click="this.$emit('nav-image', direction)"></div>
          </div>
        `,
      setup(props) {
        const directionClass = ref('')
        const direction = ref(props.direction)
        directionClass.value = props.direction === 'previous' ? 'triangle-previous' : 'triangle-next'

        return {
          directionClass, direction
        }
      }
    })

    const LanguageSelection = defineComponent({
      template: `
        <div>
          <a href="?locale=pl" class="text-white mr-2"><pl-flag></pl-flag></a>
          <a href="?locale=en" class="text-white"><en-flag></en-flag></a>
        </div>
      `,
      components: {
        'pl-flag': PlFlag,
        'en-flag': EnFlag
      },
    })

    const LogoComponent = defineComponent({
      template: `
        <div class="w-full bg-blue-500 p-8 mb-4 rounded-lg">
          <div><h1 class="text-4xl text-white">IMPACT+</h1></div>
          <slot></slot>
        </div>
      `
    })

    const RowComponent = defineComponent({
      props: ['label', 'description'],
      template: `
        <div>
          <strong class="text-2xl text-blue-500 float-right uppercase">{{ label }}</strong>
        </div>
        <div class="border-l-4 pl-2">
          <p class="text-2xl font-thin"><slot></slot></p>
          <em class="text-gray-400">{{ description }}</em>
        </div>
      `
    })

    const SpecsWrapper = defineComponent({
      template: `<div class="grid grid-cols-2 gap-4"><slot></slot></div>`
    })

    const app = createApp({
      setup() {
        const specs = ref([])
        const images = ref([])
        const selectedImage = ref(null)
        const imageSelected = ref(false)

        const loadTSV = async (gid) => {
          const response = await fetch(config.spreadsheetUrl(gid))
          const csvData = await response.text()
          const rows = csvData.split('\n')

          return parseData(rows)
        }

        const parseData = (rows) => {
          const headers = rows[0].split('\t').map(header => header.trim())

          rows.shift()

          return rows.map(row => {
            const values = row.split('\t').map(value => value.trim())
            return headers.reduce((obj, header, index) => {
              obj[header] = values[index]
              return obj
            }, {})
          })
        }

        const toggleFullImage = () => {
          selectedImage.value = event.target.src
          imageSelected.value = !imageSelected.value
        }

        const getElement = (array, currentElement, direction) => {
          const currentIndex = array.indexOf(currentElement)
          if (currentIndex === -1) {
            return null
          }

          let newIndex
          if (direction.toLowerCase() === 'next') {
            newIndex = (currentIndex + 1) % array.length
          } else if (direction.toLowerCase() === 'previous') {
            newIndex = (currentIndex - 1 + array.length) % array.length
          } else {
            return null
          }

          return array[newIndex]
        }


        const navImage = (direction) => {
          const nextImage = getElement(images.value, selectedImage.value, direction)
          selectedImage.value = nextImage
        }

        loadTSV(config.localeGids[config.locale]).then(data => {
          specs.value = data
        })

        loadTSV(config.imagesGid).then(data => {
          images.value = data.map(image => image.url)
        })

        return {
          specs, images, toggleFullImage, navImage, getElement, selectedImage, imageSelected
        }
      }
    })

    app.component('logo-component', LogoComponent)
    app.component('row-component', RowComponent)
    app.component('specs-wrapper', SpecsWrapper)
    app.component('image-wrapper', ImageWrapper)
    app.component('image-component', ImageComponent)
    app.component('image-container', ImageContainer)
    app.component('image-nav-component', ImageNavComponent)
    app.component('language-selection', LanguageSelection)

    app.mount('#app')
  </script>
  <style>
    .triangle-previous,
    .triangle-next {
      width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-bottom: 50px solid transparent;
    }

    .triangle-previous {
      border-right: 86.6px solid lightgray;
    }

    .triangle-next {
      border-left: 86.6px solid lightgray;
    }

    #full-image {
      max-height: 100vh;
      height: 100vh;
    }

    #flag-icons-gb, #flag-icons-pl {
      max-width: 1.5rem;
      display: inline-block;
    }
  </style>
</body>

</html>