<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>IMPACT+</title>
  <script src="https://unpkg.com/vue@next"></script>
  <link href="https://unpkg.com/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="text-white bg-black p-16">
  <div id="app">
    <image-container></image-container>

    <div id="main-container">
      <logo-component></logo-component>

      <image-wrapper>
        <image-component v-for="image in images" :src="image" :handler="toggleFullImage"></image-component>
      </image-wrapper>

      <specs-wrapper>
        <row-component v-for="spec in specs" :label="spec.label" :description="spec.description">
          {{ spec.value }}
        </row-component>
      </specs-wrapper>
    </div>
  </div>

  <script>
    const getLocale = () => {
      const match = location.search.match(/(?<==)[a-zA-Z]{2}/)

      return (match[0] || navigator.language || navigator.userLanguage).split('-')[0]
    }

    const toggleFullImage = () => {
      document.getElementById('main-container').classList.toggle('hidden')
      document.getElementById('image-container').classList.toggle('hidden')
      document.getElementById('full-image').src = event.target.src
    }

    const config = {
      localeGids: {
        pl: 288038175,
        en: 35753055
      },
      imagesGid: 1866743414,
      locale: getLocale(),
      spreadsheetId: '2PACX-1vRq2HxY-FYmQrcjCsB015FGey51cT3fMV28ED2qjnTzPAjerJitb3YqzzZsIVxzj1G26B1KvfEt5r6D',
      spreadsheetUrl: (gid) => `https://docs.google.com/spreadsheets/d/e/${config.spreadsheetId}/pub?output=tsv&gid=${gid}`
    }

    const { createApp, ref, defineComponent } = Vue

    const ImageWrapper = defineComponent({
      template: `<div class="grid grid-cols-3 gap-4 mb-12"><slot></slot></div>`
    })

    const ImageComponent = defineComponent({
      props: ['src'],
      template: `<div><img :src="src" class="rounded-lg cursor-pointer" @click="handleClick"/></div>`,
      setup(props) {
        const handleClick = () => toggleFullImage()

        return {
          handleClick
        }
      }
    })

    const ImageContainer = defineComponent({
      template: `
        <div id="image-container" class="hidden flex fixed inset-0 z-100 items-center">
          <div class="ml-48 w-auto text-9xl font-bold pointer-cursor">&lt;&lt;</div>
          <div @click="handleClick" class="mx-auto">
            <img id="full-image" class="h-screen object-contain cursor-pointer" />
          </div>
          <div class="mr-48 w-auto text-9xl font-bold pointer-cursor">&gt;&gt;</div>
        </div>
      `,
      setup() {
        const handleClick = () => toggleFullImage()

        return {
          handleClick
        }
      }
    })

    const LogoComponent = defineComponent({
      template: `
        <div class="w-full bg-blue-500 p-8 mb-4 rounded-lg">
          <h1 class="text-4xl text-white">IMPACT+</h1>
        </div>
      `
    })

    const RowComponent = defineComponent({
      props: ['label', 'description'],
      template: `
        <div>
          <strong class="text-2xl text-blue-500 float-right uppercase">{{ label }}</strong>
        </div>
        <div class="border-l-4 pl-2">
          <p class="text-2xl font-thin"><slot></slot></p>
          <em class="text-gray-400">{{ description }}</em>
        </div>
      `
    })

    const SpecsWrapper = defineComponent({
      template: `<div class="grid grid-cols-2 gap-4"><slot></slot></div>`
    })

    const app = createApp({
      setup() {
        const specs = ref([])
        const images = ref([])

        const loadTSV = async (gid) => {
          const response = await fetch(config.spreadsheetUrl(gid))
          const csvData = await response.text()

          const rows = csvData.split('\n')

          return parseData(rows)
        }

        const parseData = (rows) => {
          const headers = rows[0].split('\t').map(header => header.trim())

          rows.shift()

          return rows.map(row => {
            const values = row.split('\t').map(value => value.trim())
            return headers.reduce((obj, header, index) => {
              obj[header] = values[index]
              return obj
            }, {})
          })
        }

        loadTSV(config.localeGids[config.locale]).then(data => {
          specs.value = data
        })

        loadTSV(config.imagesGid).then(data => {
          images.value = data.map(image => image.url)
        })

        return {
          specs, images
        }
      }
    })

    app.component('logo-component', LogoComponent)
    app.component('row-component', RowComponent)
    app.component('specs-wrapper', SpecsWrapper)
    app.component('image-wrapper', ImageWrapper)
    app.component('image-component', ImageComponent)
    app.component('image-container', ImageContainer)

    app.mount('#app')
  </script>
</body>

</html>